
main {
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 64px;
   padding: 32px;
}

#project-container {
   grid-row: 1 / span 2;
}

#project-item-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   gap: 32px;

   margin-top: 32px;
   margin-bottom: 32px;
}


.project-item {
   position: relative;
   background-color: white;
   border-left: 8px solid var(--accent);
   border-radius: 8px;

   height: 160px;
   padding: 16px;
   box-shadow: 0px 4px 6px rgb(0,0,0,0.20);
}

.project-button-container {
   position: absolute;
   bottom: 16px;
   right: 24px;

   width: 20%;
   display: flex;
   justify-content: space-between;
   grid-template-columns: repeat(3, 1fr);
}

.project-button-container > img {
   width: 24px;
}

.project-title {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 8px;
}


.announcement-card, .trending-card {
   background-color: white;
   border: none;
   border-radius: 8px;
   box-shadow: 0px 4px 6px rgb(0,0,0,0.20);
}

.card-title {
   margin-left: 12px;
   margin-bottom: 16px;
   font-size: 20px;
   font-weight: bold;
}

#announcement-container {
   
}

.announcement-card {
   padding: 16px;
   font-size: 14px;
}

.announcement-item {
   padding: 16px;
}

.announcement-title {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 4px;
}

hr {
   border: 1px solid #ddd;
   margin: 0;
   padding: 0;
}

#trending-container {
   
}

.trending-card {
   padding: 8px 16px;
}

.trending-item {
   display: flex;
   padding: 8px;
}
.trending-item > img {
   width: 48px;
   border: solid 1px #aaa;
   border-radius: 50%;
   margin-right: 16px;
}

.trending-text {
   display: grid;
   align-items: center;
}