main {
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 64px;
   padding: 32px;
}

#project-container {
   grid-row: 1 / span 2;
}

#project-item-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   gap: 32px;

   margin-top: 32px;
   margin-bottom: 32px;
}

.project-item {
   background-color: white;
   border-left: 5px solid var(--accent);

   padding: 16px;
   box-shadow: 0px 4px 6px rgb(0,0,0,0.20);
}

.announcement-card, .trending-card {
   background-color: white;
   border: none;
   border-radius: 8px;
   box-shadow: 0px 4px 6px rgb(0,0,0,0.20);
}

.card-title {
   margin-bottom: 16px;
}

#announcement-container {
   
}

.announcement-card {
   padding: 16px;
}

.announcement-item {
   padding: 16px;
}

#trending-container {
   
}

.trending-card {
   padding: 8px 16px;
}

.trending-item {
   padding: 8px;
}