#sidebar {
   background-color: var(--main-color);
   grid-row: 1 / span 2;

   display: grid;
   grid-template-rows: 1fr 4fr 4fr;

   font-weight: bold;
   color: white;
}

#sidebar > * {
   padding: 24px 32px;
}

li {
   display: flex;
   align-items: center;
}

li > img {
   width: 24px;
   padding-right: 16px;
}

#logo-container {
   display: grid;
   align-items: center;
   font-size: 32px;
}

#task-container > li, #settings-container > li {
   padding: 16px 0px;
   font-size: 20px;
}