:root {
   --main-color: #FB923C;
   --accent: #7DD3FC;
   --bg-color: #FFF7ED;
}

body {
   display: grid;
   grid-template-columns: minmax(200px, 1fr) minmax(500px, 5fr);
   grid-template-rows: 15% 85%;
   background-color: var(--bg-color);

   height: 100vh;
}

#sidebar {
   background-color: var(--main-color);
   grid-row: 1 / span 2;
}


