@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

:root {
   --main-color: #FB923C;
   --accent: #7DD3FC;
   --bg-color: #FFF7ED;
   --off-white: #FAF9F6;
}

*, body {
   font-family: "Noto Sans", Arial, sans-serif;
}

body {
   display: grid;
   grid-template-columns: minmax(200px, 1fr) minmax(500px, 5fr);
   grid-template-rows: 15% 85%;
   background-color: var(--bg-color);

   height: 100vh;
}


